/* MAIN SETTINGS */
.product {
  display: flex;
  text-align: center;
  margin-bottom: 70px;
}

/* SETTINGS */
.first {
  width: 40%;
}
.second {
  width: 40%;
}
.third {
  width: 40%;
}
.product img {
  width: 230px;
  height: 230px;
  text-align: center;
  border-radius: 130px;
}

.relaxIn {
  color: #3b3b3b;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.text {
  color: #202020;
  margin-top: 20px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  margin-left: 55px;
  width: 80%;
}

.name {
  color: rgb(104, 104, 104);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1440px) {
  .text {
    margin-left: 40px;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .relaxIn {
    font-size: 40px;
  }
  .name {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .product {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 70px;
  }
  .first {
    width: 100%;
  }
  .second {
    width: 100%;
  }
  .third {
    width: 100%;
  }
  .text {
    margin-left: 40px;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .relaxIn {
    font-size: 40px;
  }
  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
