.name {
  color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text {
  color: #ffffff;
  margin-top: 20px;
  line-height: 22px;
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  margin-left: 55px;
  width: 70%;
  text-align: center;
}

.second {
  margin-top: 20px;
}

.refund {
  margin-bottom: 10%;
}
/* Responsive starts here */

