.color-picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.color-block {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
  width: 60px;
  height: 60px;
}
.color-picker:not(:last-child) {
  margin-top: -30px;
  margin-left: 145px;
  margin-right: 145px;
}
.selected-color {
  width: 500px;
  height: 200px;
  margin-left: 100px;
  margin-top: 50px;
}

.black {
  grid-area: "black";
  background-color: #3a3a3a;
}

.darkBlue {
  grid-area: "darkBlue";
  background-color: #212748;
}

.blue {
  grid-area: "blue";
  background-color: #3151ae;
}

.skyBlue {
  grid-area: "skyBlue";
  background-color: #31b4ff;
}

.green {
  grid-area: "green";
  background-color: #41f97a;
}

.pink {
  grid-area: "pink";
  background-color: #fd6cc3;
}
.purple {
  grid-area: "purple";
  background-color: #b75bf5;
}

.orange {
  grid-area: "orange";
  background-color: #ff5b2a;
}

/* .red {
  grid-area: "red";
  background-color: #c13e3c;
} */

.productName {
  text-align: center;
  width: 100%;
  color: #c9c9c9;
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

@media (max-width: 1440px) {
  .color-block {
    width: 60px;
    height: 60px;
  }
  .lamzac {
    width: 650px;
  }
}

@media (max-width: 425px) {
  .color-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "black darkBlue blu  skyBlue green" "pink purple orange red";
    margin-bottom: 10px;
  }
  .color-block {
    width: 60px;
    height: 60px;
  }
  .lamzac {
    width: 82%;
  }
  .productName {
    font-size: 70px;
  }
  .selected-color {
    margin-left: 0px;
    margin-top: 40px;
  }
  .color-picker:not(:last-child) {
    margin-left: 10px;
  }
}
