.basement {
  height: 30px;
  background-color: rgb(34, 34, 34);
}
.info {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 3px;
}

/* Responsive starts here */

@media (min-width: 1200px) {
  /* INFO */
  .info {
    font-size: 20px;
  }
  
  /* BASEMENT */
  .basement {
    height: 40px;
    background-color: rgb(34, 34, 34);
  }  
}
