.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}
.logo {
  margin-left: 20px;
}
.logo img {
  width: 90px;
}
.bar {
  margin-top: -2px;
  margin-left: 40px;
}
.name {
  margin-left: 15px;
  zcolor: black;
}
.name h1 {
  color: black;
}
.name strong {
  color: #1c9e75;
}
.item {
  color: black;
  margin-right: 10px;
  margin-top: 37px;
}
.vl {
  margin-left: 25px;
}
.item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
