/* FIRST */
.first {
  margin-right: 32px;
  margin-bottom: 50px;
}

/* SECOND */
.second {
  margin-right: 32px;
  margin-left: 10px;
}

/* CONTENT */
.content {
  display: flex;
  color: #383838;
  width: 100%;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
}

/* DESCRIPTION */
.description {
  color: #5c5b5b;
  width: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* LEFT */
.left {
  margin-top: 20px;
}

/* RIGHT */
.right {
  margin-top: 20px;
}

/* Responsive starts here */

@media (max-width: 1440px) {
  /* LEFT */
  .first {
    font-size: 35px;
  }
  /* SECOND */
  .second {
    font-size: 35px;
  }
  /* DESCRIPTION */
  .description {
    font-size: 22px;
  }
  /* LEFT */
  .left {
    width: 100%;
    height: 400px;
  }
  /* RIGHT */
  .right {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 425px) {
  /* CONTENT */
  .content {
    flex-wrap: wrap;
  }
  /* LEFT */
  .left {
    width: 100%;
    height: 200px;
  }
  /* RIGHT */
  .right {
    width: 100%;
    height: 200px;
  }
}
