/* NAME */
.name {
  color: #202020;
  margin-top: 20px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  margin-left: 55px;
  width: 70%;
}
/* INFO */
.info {
  margin-top: -210px;
  margin-left: 725px;
}
/* LIST */
.list li {
  list-style: none;
}
/* LIST */
.list {
  margin-top: 10px;
}
/* NAME */
.name {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 40px;
}
/* PRICE */
.price {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #202020;
  margin-bottom: 10px;
}
/* BUY */
.buy {
  margin-top: 35px;
  margin-left: 110px;
  margin-bottom: 75px;
}
/* BG MODAL */
.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
/* MODAL CONTENTS */
.modal-contents {
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

/* RESPONSIVE START HERE */
@media (max-width: 1440px) {
  /* LIST */
  .list {
    font-size: 30px;
  }
  /* NAME */
  .name {
    font-size: 30px;
  }
  /* PRICE */
  .price {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  /* LIST */

  .list {
    font-size: 23px;
    margin-left: -20px;
  }
  /* NAME */

  .name {
    font-size: 27px;
    margin-left: 20px;
  }
  /* PRICE */

  .price {
    font-size: 40px;
    margin-left: -40px;
  }
  /* INFO */
  .info {
    margin-top: 140px;
    margin-left: 0px;
  }
}
