.main {
  height: 300px;
  background-color: rgb(53, 53, 53);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding-top: 20px;
}
.item {
  cursor: pointer;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
}
.menu {
  text-align: center;
}
.name {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.text {
  color: white;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
}
.social {
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
}
.number {
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
}

.myButton {
background-color: rgba(0, 0, 0, 0);
border: none;
outline: none;
}

.myColor {
  background-color: rgb(53, 53, 53);
}
/* Responsive starts here */

@media (max-width: 425px) {
  /* ITEM */
  .item {
    font-size: 20px;
  }

  /* SOCIAL */
  .social {
    font-size: 20px;
  }

  /* NUMBER */
  .number {
    font-size: 20px;
  }

  /* TEXT */
  .text {
    font-size: 20px;
  }

  /* MAIN */
  .main {
    display: none;
  }
}

@media (min-width: 426px) {
  /* MODE */
  .mode {
    display: none;
  }
}
